@page "/"
@inject IGithubUserApi GithubUserApi

<main>
    <header>
        <div class="heading">
            <div class="title">
                <h5>devfinder</h5>
            </div>
            <div class="toggle-container">
                <input type="checkbox" id="toggle" name="theme" />
                <p>light</p>
                <img src="~/Images/icon-sun.svg" alt="" />
            </div>
        </div>
    </header>
    <div class="search-section">
            <img src="~/Images/icon-search.svg" alt="" />
        <EditForm Model="GithubUser">
            <input type="text" placeholder="Search Github username" @bind-value="_search" />
            <button @onclick="() => SearchUser(_search)" type="submit">Search</button>
        </EditForm>
    </div>
    <div class="info-section">
        <p>@GithubUser.name</p>
        <p>@GithubUser.created_at</p>
        <img src="@GithubUser.avatar_url" alt="" />
    </div>
</main>

@code
{
    private GithubUser GithubUser { get; set; } = new();
    private string _search = "";

    protected override async Task OnInitializedAsync() => GithubUser = await GithubUserApi.GetGithubUser("KoenCobra");

    private async Task SearchUser(string search)
    {
        GithubUser = await GithubUserApi.GetGithubUser(search);
    }
}
