@page "/"
@inject IGithubUserApi GithubUserApi

<main id="main" class="menu @(IsDarkMode ? "dark-mode" : "")">
    <div class="container">
        <header>
            <div class="heading">
                <div class="title">
                    <h5>devfinder</h5>
                </div>
                <div id="dark-mode-toggle" class="toggle-container" @onclick="SwitchTheme">
                    <p class="light">light</p>
                    <p class="dark">dark</p>
                    <img class="moon-img" src="Images/icon-moon.svg" />
                    <img class="sun-img" src="Images/icon-sun.svg" />
                </div>
            </div>
        </header>
        <div class="search-section">
            <img src="/Images/icon-search.svg" alt="" />
            <EditForm Model="GithubUser">
                <div class="form-input">
                    <input type="text" placeholder="Search Github username..." @bind-value="_search" />
                    <p class="no-result">@_noResult</p>
                    <button @onclick="() => SearchUser(_search)" type="submit">Search</button>
                </div>
            </EditForm>
        </div>

        <UserInfoComponent GithubUser="GithubUser" />
    </div>
</main>
@code
{
    private GithubUser? GithubUser { get; set; } = new();
    private string? _search;
    private string? _noResult;
    private bool IsDarkMode { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        await SearchUser("wimobiwan");
    }

    private async Task SearchUser(string search)
    {
        var result = await GithubUserApi.GetGithubUser(search);

        if (!result.Succes)
        {
            _noResult = result.Message;
            StateHasChanged();
        }

        GithubUser = result.Data;
        _noResult = result.Message;
        StateHasChanged();
    }

    private void SwitchTheme()
    {
        IsDarkMode = !IsDarkMode;
    }
}
