@page "/"
@inject IGithubUserApi GithubUserApi

<main>
    <div class="container">
        <header>
            <div class="heading">
                <div class="title">
                    <h5>devfinder</h5>
                </div>
                <div class="toggle-container">
                    <input type="checkbox" id="toggle" name="theme" />
                    <p>light</p>
                    <img src="Images/icon-sun.svg" />
                </div>
            </div>
        </header>
        <div class="search-section">
            <img src="/Images/icon-search.svg" alt="" />
            <EditForm Model="GithubUser">
                <div class="form-input">
                    <input type="text" placeholder="Search Github username..." @bind-value="_search" />
                    <p class="no-result">@_noResult</p>
                    <button @onclick="() => SearchUser(_search)" type="submit">Search</button>
                </div>
            </EditForm>
        </div>

        <UserInfoComponent GithubUser="GithubUser" />
    </div>
</main>
@code
{
    private GithubUser? GithubUser { get; set; } = new();
    private string? _search;
    private string? _noResult;

    protected override async Task OnInitializedAsync()
    {
        await SearchUser("wimobiwan");
    }

    private async Task SearchUser(string search)
    {
        var result = await GithubUserApi.GetGithubUser(search);

        if (!result.Succes)
        {
            _noResult = result.Message;
            StateHasChanged();
        }

        GithubUser = result.Data;
        _noResult = result.Message;
        StateHasChanged();
    }
}
