@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

/*light mode colors*/

$brightBlue: #0079FF;
$greyBlue: #697C9A;
$Blue: #0079FF;
$brightBlue: #4B6A9B;
$darkgreyBlue: #2B3442;
$white: #FFFFFF;
$white2: #FEFEFE;

/*darkmode*/
$black: #141D2F;
$veryDarkBlue: #1E2A47;


$Font: 'Space Mono', monospace;
