@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

$Font: 'Space Mono', monospace;

:root {
    --bodyBackground: #141D2F;
    --title: #FFFFFF;
    --primaryWhite: #FFFFFF;
    --themeIcon: url('//Images/icon-sun.svg');
    --buttonBackground: #0079FF;
    --searchBackground: #1E2A47;
    --infoSectionBackground: #1E2A47;
    --login: #0079FF;
    --reposBackground: #141D2F;
    --notAvailable: #697C9A;
    --buttonText: #FFFFFF;
    --name: #FFFFFF;
    --repoNumbers: #FFFFFF;
    --repoTitle: #FFFFFF;
    --boxShadow: 0;
}

@media (prefers-color-scheme: light) {
    :root {
        --bodyBackground: #F6F8FF;
        --title: #222731;
        --primaryWhite: #4B6A9B;
        --themeIcon: url('../Images/icon-moon.svg');
        --buttonBackground: #0079FF;
        --searchBackground: #FEFEFE;
        --infoSectionBackground: #FEFEFE;
        --login: #0079FF;
        --reposBackground: #F6F8FF;
        --name: #2B3442;
        --notAvailable: #A4B4CC;
        --repoNumbers: #2B3442;
        --repoTitle: #4B6A9B;
        --boxShadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
    }

    .sun-img, .light {
        display: none;
    }

    .moon-img, .dark {
        display: block;
    }
}

@media (prefers-color-scheme: dark) {
    .sun-img, .light {
        display: block;
    }

    .moon-img, .dark {
        display: none;
    }
}
