@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
:root {
  --bodyBackground: #141D2F;
  --title: #FFFFFF;
  --primaryWhite: #FFFFFF;
  --themeIcon: url("//Images/icon-sun.svg");
  --buttonBackground: #0079FF;
  --searchBackground: #1E2A47;
  --infoSectionBackground: #1E2A47;
  --login: #0079FF;
  --reposBackground: #141D2F;
  --notAvailable: #697C9A;
  --buttonText: #FFFFFF;
  --name: #FFFFFF;
  --repoNumbers: #FFFFFF;
  --repoTitle: #FFFFFF;
  --boxShadow: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    --bodyBackground: #F6F8FF;
    --title: #222731;
    --primaryWhite: #4B6A9B;
    --themeIcon: url("../Images/icon-moon.svg");
    --buttonBackground: #0079FF;
    --searchBackground: #FEFEFE;
    --infoSectionBackground: #FEFEFE;
    --login: #0079FF;
    --reposBackground: #F6F8FF;
    --name: #2B3442;
    --notAvailable: #A4B4CC;
    --repoNumbers: #2B3442;
    --repoTitle: #4B6A9B;
    --boxShadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
  }

  .sun-img, .light {
    display: none;
  }

  .moon-img, .dark {
    display: block;
  }
}
@media (prefers-color-scheme: dark) {
  .sun-img, .light {
    display: block;
  }

  .moon-img, .dark {
    display: none;
  }
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Space Mono", monospace;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --bodyBackground: #141D2F;
  --title: #FFFFFF;
  --primaryWhite: #FFFFFF;
  --themeIcon: url("//Images/icon-sun.svg");
  --buttonBackground: #0079FF;
  --searchBackground: #1E2A47;
  --infoSectionBackground: #1E2A47;
  --login: #0079FF;
  --reposBackground: #141D2F;
  --notAvailable: #697C9A;
  --buttonText: #FFFFFF;
  --name: #FFFFFF;
  --repoNumbers: #FFFFFF;
  --repoTitle: #FFFFFF;
  --boxShadow: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    --bodyBackground: #F6F8FF;
    --title: #222731;
    --primaryWhite: #4B6A9B;
    --themeIcon: url("../Images/icon-moon.svg");
    --buttonBackground: #0079FF;
    --searchBackground: #FEFEFE;
    --infoSectionBackground: #FEFEFE;
    --login: #0079FF;
    --reposBackground: #F6F8FF;
    --name: #2B3442;
    --notAvailable: #A4B4CC;
    --repoNumbers: #2B3442;
    --repoTitle: #4B6A9B;
    --boxShadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
  }

  .sun-img, .light {
    display: none;
  }

  .moon-img, .dark {
    display: block;
  }
}
@media (prefers-color-scheme: dark) {
  .sun-img, .light {
    display: block;
  }

  .moon-img, .dark {
    display: none;
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2022-7-23 19:17:56
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */
@keyframes shake-horizontal {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70% {
    transform: translateX(-10px);
  }
  20%, 40%, 60% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(8px);
  }
  90% {
    transform: translateX(-8px);
  }
}
body {
  background-color: var(--bodyBackground);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 800px;
}
@media (max-width: 769px) {
  .container {
    width: 600px;
  }
}
@media (max-width: 600px) {
  .container {
    width: 350px;
  }
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading .title {
  font-weight: 700;
  font-size: 26px;
  color: var(--title);
}
.heading .toggle-container {
  color: var(--primaryWhite);
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 2.5px;
  gap: 1rem;
}

.search-section {
  display: flex;
  align-items: center;
  background-color: var(--searchBackground);
  border-radius: 15px;
  padding: 10px 10px 10px 32px;
  margin-bottom: 24px;
  box-shadow: var(--boxShadow);
}
@media (max-width: 600px) {
  .search-section {
    padding: 10px 10px 10px 16px;
  }
}
.search-section img {
  padding-right: 24px;
}
@media (max-width: 600px) {
  .search-section img {
    padding-right: 10px;
  }
}
.search-section form {
  width: 100%;
  position: relative;
}
.search-section form .form-input {
  display: flex;
  align-items: center;
}
.search-section form .form-input .no-result {
  font-weight: 700;
  font-size: 15px;
  color: #F74646;
  width: 30%;
  animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
@media (max-width: 600px) {
  .search-section form .form-input .no-result {
    position: absolute;
    top: -35px;
    right: 0;
  }
}
.search-section form .form-input input {
  background-color: transparent;
  border: 0;
  outline: none;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  color: var(--primaryWhite);
}
@media (max-width: 600px) {
  .search-section form .form-input input {
    font-size: 15px;
  }
}
.search-section form .form-input button {
  margin-left: auto;
  border: 0;
  outline: none;
  background-color: var(--buttonBackground);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: var(--buttonText);
  border-radius: 10px;
  padding: 12px 24px;
  transition: all 0.2s linear;
}
.search-section form .form-input button:hover {
  background-color: #60ABFF;
  cursor: pointer;
}
@media (max-width: 600px) {
  .search-section form .form-input button {
    padding: 12px 16px;
    font-size: 14px;
  }
}
.search-section ::placeholder {
  font-weight: 400;
  font-size: 18px;
  color: var(--primaryWhite);
}
@media (max-width: 600px) {
  .search-section ::placeholder {
    font-size: 13px;
  }
}

.info-section {
  display: flex;
  flex-direction: column;
  padding: 48px;
  background-color: var(--infoSectionBackground);
  border-radius: 15px;
  box-shadow: var(--boxShadow);
}
@media (max-width: 769px) {
  .info-section {
    grid-template-columns: 1fr;
    padding: 40px;
  }
}
@media (max-width: 769px) {
  .info-section {
    grid-template-columns: 1fr;
    padding: 24px;
  }
}
.info-section .header {
  display: flex;
}
@media (max-width: 769px) {
  .info-section .header {
    align-items: center;
  }
}
.info-section .header img {
  border-radius: 50%;
  width: 117px;
  height: 117px;
  transform: scale(1.2);
}
@media (max-width: 769px) {
  .info-section .header img {
    transform: scale(1);
  }
}
@media (max-width: 600px) {
  .info-section .header img {
    width: 70px;
    height: 70px;
    transform: scale(1.2);
  }
}
.info-section .header .bio-section {
  width: 100%;
  padding-left: 37px;
}
.info-section .header .bio-section .info-header {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 769px) {
  .info-section .header .bio-section .info-header {
    flex-direction: column;
    justify-content: center;
  }
}
.info-section .header .bio-section .info-header .name .user-name {
  font-weight: 700;
  font-size: 26px;
  color: var(--name);
  padding-bottom: 8px;
}
@media (max-width: 600px) {
  .info-section .header .bio-section .info-header .name .user-name {
    font-size: 14px;
    padding-bottom: 0;
  }
}
.info-section .header .bio-section .info-header .name a {
  font-weight: 400;
  font-size: 16px;
  color: var(--login);
  text-decoration: none;
}
@media (max-width: 600px) {
  .info-section .header .bio-section .info-header .name a {
    font-size: 13px;
  }
}
.info-section .header .bio-section .info-header p {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: var(--primaryWhite);
}
@media (max-width: 600px) {
  .info-section .header .bio-section .info-header p {
    font-size: 14px;
  }
}
.info-section .header .bio-section .info-bio p {
  font-weight: 400;
  font-size: 15px;
  color: var(--primaryWhite);
  mix-blend-mode: normal;
  opacity: 0.75;
  padding-top: 20px;
  width: 100%;
}
@media (max-width: 769px) {
  .info-section .header .bio-section .info-bio {
    display: none;
  }
}
.info-section .info-bio-mobile p {
  font-weight: 400;
  font-size: 15px;
  color: var(--primaryWhite);
  mix-blend-mode: normal;
  opacity: 0.75;
  padding-top: 20px;
  width: 100%;
}
@media (max-width: 600px) {
  .info-section .info-bio-mobile p {
    font-size: 13px;
    padding-top: 30px;
  }
}
@media (min-width: 769px) {
  .info-section .info-bio-mobile {
    display: none;
  }
}
.info-section .user-info {
  padding-left: 150px;
}
@media (max-width: 769px) {
  .info-section .user-info {
    padding: 0;
  }
}
.info-section .user-info .info-repo {
  background: var(--reposBackground);
  border-radius: 10px;
  padding: 17px 0 17px 32px;
  display: flex;
  gap: 90px;
  color: var(--repoNumbers);
  margin-top: 25px;
  margin-bottom: 37px;
}
@media (max-width: 769px) {
  .info-section .user-info .info-repo {
    padding: 18px 15px;
    gap: 0;
    justify-content: space-around;
  }
}
@media (max-width: 769px) {
  .info-section .user-info .info-repo {
    text-align: center;
  }
}
.info-section .user-info .info-repo .title {
  font-weight: 400;
  font-size: 13px;
  margin-bottom: 5px;
  color: var(--repoTitle);
}
@media (max-width: 769px) {
  .info-section .user-info .info-repo .title {
    font-size: 11px;
  }
}
.info-section .user-info .info-repo .info {
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
}
@media (max-width: 769px) {
  .info-section .user-info .info-repo .info {
    font-size: 16px;
  }
}
.info-section .user-info .info-footer {
  display: grid;
  grid-template-columns: 65% 40%;
  gap: 20px;
  font-weight: 400;
  font-size: 15px;
  color: var(--primaryWhite);
  word-break: break-all;
}
@media (max-width: 600px) {
  .info-section .user-info .info-footer {
    grid-template-columns: 1fr;
    padding-bottom: 10px;
  }
}
.info-section .user-info .info-footer img {
  margin-right: 12px;
}
.info-section .user-info .info-footer a {
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
  color: var(--primaryWhite);
  transition: all 0.2s linear;
}
.info-section .user-info .info-footer a:hover {
  text-decoration: underline;
}
@media (max-width: 600px) {
  .info-section .user-info .info-footer a {
    font-size: 12px;
  }
}
@media (max-width: 600px) {
  .info-section .user-info .info-footer span {
    font-size: 12px;
  }
}
.info-section .user-info .info-footer .location-img {
  width: 16.75px;
  height: 20px;
}
.info-section .user-info .info-footer .twitter-img {
  width: 16.75px;
  height: 16.25px;
}
.info-section .user-info .info-footer .blog-img {
  width: 16.75px;
  height: 16.94px;
}
.info-section .user-info .info-footer .company-img {
  width: 16.75px;
  height: 20px;
}
.info-section .user-info .info-footer div {
  display: flex;
  align-items: center;
}
.info-section .user-info .info-footer .not-available {
  font-weight: 400;
  font-size: 15px;
  color: var(--notAvailable);
}
@media (max-width: 600px) {
  .info-section .user-info .info-footer .not-available {
    font-size: 12px;
  }
}

:root {
  --bodyBackground: #141D2F;
  --title: #FFFFFF;
  --primaryWhite: #FFFFFF;
  --themeIcon: url("//Images/icon-sun.svg");
  --buttonBackground: #0079FF;
  --searchBackground: #1E2A47;
  --infoSectionBackground: #1E2A47;
  --login: #0079FF;
  --reposBackground: #141D2F;
  --notAvailable: #697C9A;
  --buttonText: #FFFFFF;
  --name: #FFFFFF;
  --repoNumbers: #FFFFFF;
  --repoTitle: #FFFFFF;
  --boxShadow: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    --bodyBackground: #F6F8FF;
    --title: #222731;
    --primaryWhite: #4B6A9B;
    --themeIcon: url("../Images/icon-moon.svg");
    --buttonBackground: #0079FF;
    --searchBackground: #FEFEFE;
    --infoSectionBackground: #FEFEFE;
    --login: #0079FF;
    --reposBackground: #F6F8FF;
    --name: #2B3442;
    --notAvailable: #A4B4CC;
    --repoNumbers: #2B3442;
    --repoTitle: #4B6A9B;
    --boxShadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
  }

  .sun-img, .light {
    display: none;
  }

  .moon-img, .dark {
    display: block;
  }
}
@media (prefers-color-scheme: dark) {
  .sun-img, .light {
    display: block;
  }

  .moon-img, .dark {
    display: none;
  }
}
